<!DOCTYPE html>
<html>
<!-- Configurações da página como idioma, fontes e outros arquivos necessários -->

<head lang="pt-BR">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link href="../static/css/main.css" rel="stylesheet" />
  <link href="../static/css/menu.css" rel="stylesheet" />
  <link href="../static/css/modal.css" rel="stylesheet" />
  <script src="../static/js/jquery-3.6.0.min.js"></script>
  <!-- Script JS que controla os modais -->
  <script src="../static/js/modals.js"></script>

  <title>Sobre o projeto</title>
</head>
<body>
    
</body>
</html>