<!DOCTYPE html>
<html>
<!-- Configurações da página como idioma, fontes e outros arquivos necessários -->

<head lang="pt-BR">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link href="../static/css/main.css" rel="stylesheet" />
  <link href="../static/css/regions.css" rel="stylesheet" />
  <link href="../static/css/menu.css" rel="stylesheet" />
  <link href="../static/css/modal.css" rel="stylesheet" />
  <link href="../static/css/search-options.css" rel="stylesheet" />
  <script src="../static/js/jquery-3.6.0.min.js"></script>
  <!-- Script JS que controla os modais -->
  <script src="../static/js/modals.js"></script>

  <title>Análise de Dados Eleitorais</title>
  <link rel="shortcut icon" href="../static/img/favicon.ico" />
</head>

<body>
  <header>
    <!-- Título da Página -->
    <div id="logo">
      <img src="../static/img/icon-logo.svg" alt="Logo - Eleitorado.com"/>
      <h1>Análise de Dados Eleitorais</h1>
    </div>
    
    <nav id="navigation">
      <a id="start" href="/">Início</a>
      <a id="project" href="/project">Sobre o projeto</a>
      <a id="us" href="/about-us">Sobre nós</a>
      <a id="help" onclick="Modal.toggleHelp()">Dúvidas</a>
    </nav>
  </header>

  <main>
    <!--tipo de pesquisa-->
    <div id="search-by">
      <div id="search-by-city">
        <a class="search-by-link" href="/">Pesquisa por cidades</a>
      </div>
      <div id="search-by-region">
        <a class="search-by-link" href="/search-region">Comparação de regiões</a>
      </div>
    </div>

    <!--realizar pesquisas-->
  <div id="search-action">
      <h2>Faça uma pesquisa:</h2>
  </div>

    <!-- Menu de busca -->
    <div class="search">      
      <form id="form-search" action="/" method="GET">
        <div class="input-group">
          <!-- Filtro de região -->
          <div class="filter">
            <label for="region">Região:</label>
            <select name="region" id="region">
              <option value="default"></option>
              <option value="vale-do-paraiba">Vale do Paraíba</option>
              <option value="vale-historico">Vale Histórico</option>
              <option value="litoral-norte">Litoral Norte</option>
              <option value="serra-da-mantiqueira">Serra da Mantiqueira</option>
              <option value="regiao-bragantina">Região Bragantina</option>
            </select>
          </div>

          <!-- Filtro de cargo -->
          <div class="filter">
            <label for="role">Cargo:</label>
            <select name="role" id="role">
              <option value="default"></option>
              <option value="presidente">Presidente</option>
              <option value="governador">Governador</option>
              <option value="prefeito">Prefeito</option>
            </select>
          </div>

          <!-- Filtro de ano -->
          <div class="filter">
            <label for="year">Ano:</label>
            <select name="year" id="year">
              <option value="default"></option>
              <option value="2021">2021</option>
              <option value="2020">2020</option>
              <option value="2019">2019</option>
              <option value="2018">2018</option>
              <option value="2017">2017</option>
              <option value="2016">2016</option>
            </select>
          </div>
          <!-- Botões de limpar campos dos filtros e de enviar dados -->
          <div class="button-group">
            <button onclick="clearFilters()">
              <img src="../static/img/icon-clear.svg" />
            </button>
            <button
              id="search"
              type="submit"
              title="Pesquisar"
              onclick="enableCards()"
            >
              <img src="../static/img/icon-search.svg" />
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- Exibição dos cards com o resultado da busca -->
  <div class="result">
    <p>Selecione os filtros e realize uma pesquisa!</p>
  </div>

  <p id="results"></p>
</main>

  <!-- Modal de dúvidas frequentes -->
  <div class="modal-overlay-help">
    <div class="modal">
      <div class="modal-header">
        <h2>Dúvidas Rápidas</h2>
        <img id="close" src="../static/img/icon-close.png" alt="Fechar janela" onclick="Modal.toggleHelp()" />
      </div>

      <div class="questions">
        <div class="question">
          <h3>Como fazer uma busca?</h3>
          <p>Selecione uma região ou cidade no menu de busca,&nbsp;assim como o "Cargo" e o “Ano”,&nbsp;e clique no ícone da lupa.
          </p>
        </div>

        <div class="question">
          <h3>Como ampliar os gráficos?</h3>
          <p>Clique no ícone de expandir,&nbsp;localizado no canto inferior direito de cada card.</p>
        </div>

        <div class="question">
          <h3>Como exportar os dados?</h3>
          <p>Clique no ícone de download,&nbsp;localizado no canto inferior direito de cada card.</p>
        </div>

        <div class="question">
          <h3>Como comparar regiões?</h3>
          <p>Há uma área dedicada à comparação entre regiões,&nbsp;<a href="/search-regions"> clique aqui</a> para fazer a busca.</p>
        </div>

      </div>
      <small>Não encontrou o que procurava? Cheque o <a
          href="https://github.com/Equipe-01-DSM-2021/projeto-integrador-2021-1" target="_blank"> Manual </a> </small>
    </div>
  </div>
  </div>

  <!-- Script do Chart.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

  <!-- Função do botão "limpar" -->
  <script>
    // limpa filtros
    function clearFilters() {
      var form = document.getElementById('form-search')
      form.reset()
    }

    //ativa os cards
    function enableCards() {
      //capturando os valores dos campos da busca
      var cityField = document.querySelector('#city')
      var city = cityField.value

      var yearField = document.querySelector('#year')
      var year = yearField.value

      var roleField = document.querySelector('#role')
      var role = roleField.value

      $.ajax({
        url: "http://localhost:5000/data?city=" + city + "&year=" + year + "&role=" + role,
        dataType: "json",
        success: function (data) {           
          //div para mostrar os cards
          results = document.getElementById('results')
          results.innerHTML = data

          // Inserindo o HTML do gráfico
          // Se o script não achar o canvas, vai precisar colocar o html direto no código e ativar/desativar ele conforme
          // for o caso, eu acho
          results.innerHTML = `
            <div class="card">
              <div class="graphic">
                <div class="graphic-normal">
                  <canvas id="chart" width="auto" height="auto"></canvas>
                </div>
              </div>
            </div>
          `
          //configurando o gráfico
          Chart.defaults.global.defaultFontColor = "#ffff";
          var ctx = document.getElementById("chart").getContext('2d');
          var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
              labels: Object.keys(data),
              datasets: [{
                label: 'Total',
                data: Object.values(data),
                backgroundColor: 'rgba(154, 219, 249, 0.4)',
                borderColor: 'rgba(154, 219, 249)',
                borderWidth: 1,
              }]
            },
            options: {
              legend: {
                display: false
              },
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: true
                  }
                }],
                xAxes: [{
                  display: false,
                }]
              }
            }
          })
        },
      });
    };
  </script>
</body>

</html>