/* ESTILIZAÇÃO DE CARDS -------------------------------------------*/
.cards-summary {
  background: var(--color-secondary);
  width: 22%;
  height: 169px;
  padding-top: 9px;
  padding-left: 19px;
  padding-right: 19px;
  border: 0.5px solid var(--color-border-summary);
  border-radius: 7.6563px;
  border-left-color: var(--color-primary);
  border-left-width: 3.5px;
}

.cards-summary .header-cards-summary {
  display: flex;
  justify-content: space-between;
}

.header-cards-summary p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: var(--color-primary);
}

.header-cards-summary a {
  border: none;
  background: var(--color-secondary);
  cursor: pointer;
  height: 32px;
  width: 32px;
  padding: 0;
  margin: 0;
}

.header-cards-summary img:hover {
  filter: brightness(90%);
}

.text-cards-summary p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  color: var(--color-text-in-background);
}

.result,
.group-members {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  margin-top: 30px;
}

.card,
.member {
  background-color: var(--color-secondary);
  height: 90%;
  width: 90%;
  margin: 20px;
  padding: 20px;
  border: 0.915427px solid #eaeaea;
  box-shadow: 0px 0.915427px 3.66171px rgba(0, 0, 0, 0.25);
  border-radius: 7.6563px;
  border-left-color: var(--color-primary);
  border-left-width: 3.5px;
  position: relative;
}

.card {
  padding-left: 0;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.graphic {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.graphic-description {
  margin-left: 20px;
}

.graphic-description h2,
.member h5 {
  color: var(--color-text-in-background);
  font-size: 18px;
  font-weight: normal;
}

.icon-actions #data {
  text-align: center;
  text-decoration: none;
  color: var(--color-primary);
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.icon-actions #data:hover {
  filter: brightness(90%);
}

.graphic-description h2 {
  text-align: center;
  line-height: 120%;
}

.graphic-description a {
  text-align: center;
  text-decoration: none;
  color: var(--color-primary);
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.graphic-description a:hover {
  filter: brightness(90%);
}

.icon-actions {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
  margin-right: 10px;
}

#zoom,
#download {
  width: 25px;
  height: 25px;
  overflow: hidden;
  cursor: pointer;
  margin-left: 15px;
  float: right;
}

.member h6 {
  margin-top: -5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: var(--color-text-in-background);
}

.member p {
  margin-top: 5px;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-text-in-background);
}

.social {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
}

.social a {
  text-decoration: none;
  background: var(--color-secondary);
  border: 0.868955px solid #dddddd;
  box-sizing: border-box;
  border-radius: 4.34477px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.01em;
  color: var(--color-primary);
  margin-right: 10px;
  padding: 3px 15px;
  width: 85px;
}

#github:hover {
  filter: brightness(90%);
}

#linkedin:hover {
  filter: brightness(90%);
}
