/*GLOBAL -----------------------------*/
:root {
  --color-primary: rgba(95, 121, 157, 1);
  --color-text-in-primary: white;
  --color-background: #f1f1f1;
  --color-text-in-background: rgba(147, 172, 191, 1);
  --color-background-card: white;
  --color-title-card: rgba(0, 0, 0, 0.8);
  --color-description-card: rgba(0, 0, 0, 0.6);
  --color-background-search-menu: rgba(212, 212, 212, 1);
  --color-text-in-search-menu: rgba(0, 0, 0, 0.8);
  --color-placeholder-select: gray;
  --color-button: rgba(147, 172, 191, 1);
  --color-button-hover: rgba(95, 121, 157, 0.7);
  --color-link: rgba(147, 172, 191, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*DEFINIÇÕES DO BODY E DO MAIN -----------------------------*/
body {
  background-color: var(--color-background);
  font-family: "Roboto", sans-serif;
}

main {
  width: 100%;
}

/*TÍTULO E OPÇÕES DE ALTERAR TEMA E AJUDA -----------------------------*/
header {
  width: 100%;
  height: 56px;
  background: var(--color-primary);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

h1 {
  color: var(--color-text-in-primary);
  font-family: Frank Ruhl Libre;
  font-weight: Bold;
  font-size: 24px;
}

#help {
  width: 35px;
  height: 35px;
  overflow: hidden;
  cursor: pointer;
  margin-left: 15px;
}

/*"BARRA" DE PESQUISA (FILTROS E BOTÕES) -----------------------------*/
.search {
  width: 90%;
  height: 64px;
  background: var(--color-background-search-menu);
  border-radius: 7px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 10px;
}

/* FILTROS DA BARRA DE PESQUISA -----------------------------*/
.input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter {
  margin: 0 10px;
}

label {
  width: 62px;
  color: var(--color-text-in-search-menu);
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  text-align: center;
}

select {
  width: 160px;
  height: 32px;
  font-size: 16px;
  color: var(--color-placeholder-select);
  font-family: Roboto;
  background: var(--color-text-in-primary);
  border: 1px solid rgba(95, 121, 157, 1);
  border-radius: 3px;
  cursor: pointer;
}

/* BOTÕES DA BARRA DE PESQUISA -----------------------------*/
button {
  font-family: Roboto, sans-serif;
  width: 112px;
  height: 32px;
  color: var(--color-text-in-primary);
  border: none;
  background: var(--color-button);
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 15px;
}
.button-group {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 10px;
}

.button-group button a {
  text-decoration: none;
  color: var(--color-text-in-primary);
}

button:hover {
  background: var(--color-button-hover);
}

/*CONTEÚDO CENTRAL DA PÁGINA -----------------------------*/
main p {
  color: var(--color-text-in-background);
  font-family: Frank Ruhl Libre;
  font-weight: Medium;
  font-size: 36px;
  text-align: center;
  margin: 15% auto;
  cursor: context-menu;
}

/*MODAL DE AJUDA -----------------------------*/
.modal-overlay-help {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
}

.modal-overlay-help.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  background: var(--color-background-card);
  color: var(--color-title-card);
  font-family: Frank Ruhl Libre;
  font-size: 18px;
  text-align: center;
  padding: 40px;
  position: relative;
  width: 40%;
  height: 75%;
}

.modal-header img {
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
}

.modal-overlay-help .modal-header h2 {
  color: var(--color-title-card);
  font-family: Frank Ruhl Libre;
  font-size: 28px;
}

.questions {
  padding: 20px 30px;
  text-align: left;
  height: 400px;
}

.question + .question {
  margin-top: 10px;
}

.modal-overlay-help small a {
  text-decoration: none;
  cursor: pointer;
  color: var(--color-link);
}

/*RODAPÉ -----------------------------*/
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 48px;
  color: var(--color-text-in-primary);
  background: var(--color-primary);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

footer p a {
  text-decoration: none;
  cursor: pointer;
  color: var(--color-link);
}
