/*TÍTULO E OPÇÕES DE NAVEGAÇÃO -----------------------------*/
header {
  width: 100%;
  height: 72px;
  background: var(--color-secondary);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 7%;
  box-shadow: 2px 0px 14px 0px #3c3d3f40;
  position: fixed;
  top: 0;
  overflow: hidden;
}

#logo {
  display: flex;
  align-items: center;
}

header h1 {
  color: var(--color-primary);
  font-size: 18px;
  font-weight: normal;
  margin-left: 20px;
  padding-left: 20px;
  border-color: var(--color-primary);
  border-style: none none none solid;
  border-width: 2px;
  cursor: context-menu;
}

nav a {
  font-size: 18px;
  text-decoration: none;
  color: var(--color-text-in-background);
  margin-left: 50px;
}

#help {
  cursor: pointer;
}

/*hover*/

#start:hover, #project:hover, #us:hover, #help:hover {
  color: var(--color-primary);
}
