/*-------------------------*/
/*configurações gerais*/
/*-------------------------*/

#project {
    font-weight: bold;
    padding-bottom: 3px;
    border-color: var(--color-primary);
    border-style: none none solid none;
    border-width: 3px;
}

#content {
    margin-top: 7%;
}

/*-------------------------*/
/*configurações das letras*/
/*-------------------------*/

#content h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: var(--color-text-in-background);
    padding-left: 11px;
    border-style: none none none solid;
    border-width: 4px;
    border-radius: 3px;
    border-color: var(--color-primary);
}

#content h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
    color: var(--color-text-in-background);
}

/*-------------------------*/
/*configurações do sumário*/
/*-------------------------*/

#summary {
    display: flex;
    justify-content: space-around;
    margin-top: 21px;
}

/*----------------------------------------*/
/*configurações das informações do projeto*/
/*----------------------------------------*/

#about-project {
    margin-top: 21px;
}

.img-container {
    display: flex;
    justify-content: center;
    width: 497px;
}

.img-container img{
    margin-left: auto;
    margin-right: auto;
}

#about-project .about-content {
    display: flex;
    justify-content: space-between;
}

#about-project .about-content {
    display: flex;
    justify-content: space-between;
}

.about-content {
    padding: 0;
    margin-top: 50px;  
}

.about-content section{
    width: 497px;
}

.about-content p{
    margin-top: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: var(--color-text-in-background);
}

#planning img {
    width: 325px;
    height: 325px;
}

/*----------------------------------------------------*/
/*configurações das informações do projeto: Resultados*/
/*----------------------------------------------------*/

#results h1 {
    margin-top: 30px;
}

#results-intro {
    margin-top: 10px;
    margin-bottom: 10px;
}

#results a {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: var(--color-primary);
}

#results a:hover {
    color: var(--color-a-hover);
}

/*------*/
/*footer*/
/*------*/

footer {
    width: 100%;
    height: 72px;
    background: var(--color-secondary);
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 20px 7%;
    box-shadow: 2px 0px 14px 0px #3c3d3f40;
    top: 0;
    overflow: hidden;
    margin-top: 70px;
}

footer a {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: var(--color-primary);
}

footer a:hover {
    color: var(--color-a-hover);
}