/* OPÇÕES PARA ESCOLHA DE PÁGINA (BUSCA POR CIDADE OU REGIÃO) -------------*/
#search-by {
  margin-top: 7%;
  display: flex;
  justify-content: space-between;
}

#search-by-city {
  width: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  padding: 0.5%;
}

#search-by-city:hover {
  background-color: #d7eeff;
}

#search-by-region {
  width: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  padding: 0.5%;
}

#search-by-region:hover {
  background-color: #d7eeff;
}

.search-by-link {
  text-decoration: none;
  color: var(--color-text-in-background);
}

/* FORMULÁRIO DE PESQUISA -------------*/

#search-action h2 {
  margin-top: 2%;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: var(--color-text-in-background);
  padding-left: 11px;
  border-style: none none none solid;
  border-width: 4px;
  border-radius: 3px;
  border-color: var(--color-primary);
  margin-bottom: 1.5%;
}

#form-search label {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: var(--color-text-in-background);
  display: block;
}

#form-search select {
  width: 80%;
  height: 32px;
  font-size: 16px;
  background: var(--color-secondary);
  border: 1px solid var(--color-border-select);
  border-radius: 5px;
  cursor: pointer;
  margin-right: 30px;
  color: var(--color-text-in-background);
}

#city,
#region {
  width: 450px;
}

.input-group {
  display: flex;
  justify-content: space-between;
}

.filter {
  width: 100%;
  padding: 0;
}

button {
  border: none;
  background: var(--color-background);
  cursor: pointer;
  height: 32px;
  width: 32px;
  margin-bottom: 5px;
}

img:hover {
  filter: brightness(90%);
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
}

#search {
  margin-left: 20px;
}
